<a href="https://colab.research.google.com/github/Udhay2898/Project/blob/Master/Interview_Pblm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Write a program to print the given number is odd or even**

In [4]:
n = int(input("Enter the Number : "))
if n % 2 == 0:
  print(f'{n} is Even')
else:
  print(f'{n} is Odd')

Enter the Number : 22
22 is Even

**Write a program to find the given number is positive or negative**

In [8]:
n = int(input("Enter the Number : "))
if n == 0:
  print(f'{n} is Zero')
elif n > 0:
  print(f'{n} is +ve')
else:
  print(f'{n} is -ve')

Enter the Number : 12
12 is +ve

**Write a program to find the sum of two numbers**

In [10]:
a = int(input("Enter the Number 1 : "))
b = int(input("Enter the Number 2 : "))

print(f'{a} + {b} = {a+b}')

Enter the Number 1 : 1
Enter the Number 2 : 3
1 + 3 = 4

**Write a program to find if the given number is prime or not**

In [89]:
n =154

def is_prime(n):
  for i in range(2,n+1):
    if n%i == 0:
      return False
  return True

if is_prime(n):
  print(f'{n} is a Prime')
else:
  print(f'{n} is not a Prime')

154 is not a Prime

**Write a program to check if the given number is palindrome or not**

In [22]:
n = str(input('N :'))
n1 = n[::-1]
if n == n1:
  print(f'{n} is palindrome')
else:
  print(f'{n} is non palindrome')

N :002
002 is non palindrome

**Write a program to check if the given number is Armstrong or not**

In [37]:
n = int(input('Enter the Number :'))
n = str(n)
a = 0
for i in n:
  a += int(i)**len(str(n))
if a == n:
  print(f'{n} is an Armstrong')
else:
  print(f'{n} is Not an Armstrong')

Enter the Number :9474
9474 is Not an Armstrong

**Write a program to check if the given strings are anagram or not**

In [40]:
str1 = str(input('Enter the string :'))
str2 = str(input('Enter the string :'))

str1 = str1.replace(' ','').lower()
str2 = str2.replace(' ','').lower()

if sorted(str1) == sorted(str2):
  print(f'{str1} and {str2} are Anagram', 'Each letter used only once in both Words')
else:
  print(f'{str1} and {str2} are not an Anagram')

Enter the string :Astronomer
Enter the string :stonomerar
astronomer and stonomerar are Anagram Each letter used only once in both Words

**Write a program to find a factorial of a number.**

In [9]:
n = int(input('Enter the Number :'))
factorial = 1
if n == 1 or n == 0:
  print(f'{n}! = 1')
elif n < 0:
  print(f"We can't Evaluate {n}! cause its -ve")
else:
  for i in range(1,n+1):
    factorial = factorial * i
print(factorial)

Enter the Number :10
3628800

**Find first N Factorials**

In [26]:
n = 10
a = []
fact = []
b = 1
for i in range(1,n+1):
  a.append(i)
for i in a:
    b *= i
    fact.append(b)
print(fact)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

**Write a program to find a fibonacci of a number**

In [104]:
n = 10
fibonacci = [0,1]
for i in range(n-2):
  n_fibonacci = fibonacci[-1] + fibonacci[-2]
  fibonacci.append(n_fibonacci)
print(fibonacci,len(fibonacci))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34] 10